body {

    margin: 0;

    overflow: hidden;

    font-family: 'Press Start 2P', cursive;

}



#gameCanvas {

    display: block;

    margin: 0 auto;

    background-color: #000;

}



.sound-button {

    position: absolute;

    bottom: 10px;

    right: 10px;

    background: none;

    border: none;

    font-size: 24px;

    cursor: pointer;

}
