body {
    margin: 0;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

#gameCanvas {
    display: block;
    width: 100%; /* Canvas s'adapte à la largeur de l'écran */
    height: auto; /* Conserve le ratio d'aspect */
    background-color: #000; /* Fond noir comme d'origine */
    margin: 0 auto;
}

.sound-button {
    position: fixed; /* Fixe le bouton pour qu'il soit visible même en cas de redimensionnement */
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white; /* Couleur blanche pour rendre visible sur fond noir */
}
